* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: darkslategray;

}

body {
    text-align: center;
    
}


/********************** 
MOBILE FORWARD
**********************/

    header {
        text-align: center;
        background-color: #fafafa;
        width: 100%;
        padding: 15px;

    }

    a {
        font-weight: bold;
    }

    .name {
        font-weight: bold;
    }

    .header-nav li{
        text-align: center;
        background: #fff;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    nav a {
        font-size: 1em;
        text-transform: uppercase;
        padding: 10px 0 10px 15px;
        text-align: center;
        display: block;
    }


    .intro-div {
        margin: 30px 0 0 0;
    }

    .intro-div p {
        width: 95%;
    }

    .intro-div img {
        width: 75%;
    }

    .section-title {
        font-size: 1em;
        text-transform: uppercase;
        padding: 15px;
        margin: 30px 0 0 0;
    }

    article {
        margin: 30px 0;
    }

    .article-title {
        font-size: 1.25em;
    }

    article p {
        width: 85%;
        margin: 0 auto;
    }

    article img {
        width: 90%;
        margin: 0 auto;
    }

    .portfolio-section {
        padding: 5px;
        margin-bottom: 20px;
    }

    .contact-section {
        background-color: #fafafa;
        padding: 1px 15px 40px 15px;
    }

    .phone,
    .email {
        font-weight: bold;
        padding: 0 5px;
    }
    
    .page-break {
        border-bottom: solid lightgray  2px;
        margin-bottom: 15px;
    }

    footer {
        background-color: #fafafa;
        padding: 0 15px 15px 15px;    
    }

    .footer-title {
        float: left;
        font-size: 1em;
        padding: 10px 0;
        margin: 0;
    }

    footer .home-link,
            .portfolio-link,
            .contact-link {
        display: none;
    }

    footer .back-to-top {
        float: right;
    }

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }


/********************** 
TABLET MEDIA BREAKPOINT 
***************(*******/
@media(min-width: 768px){


    header {
        padding: 25px;
    }

    .name {
        margin: 10px;
    }

    .header-nav li{
        float: left;
        background: #fafafa;
    }
    
    header nav {
        display: inline-block;
    }

    .intro-div {
        float: left;
    }
    
    .intro-div p {
        text-align: left;
        width: 60%;
        padding-right: 15px;
        margin: 0;
    }

    .intro-div img {
        width: 40%;
        float: right;
    }
    
    article {
        float: left;
        width: 50%;
    }
    
    article p {
        font-size: .85em;
        width: 75%;
    }
    
    article img {
        width: 97%;
    }
    
    .portfolio-section {
        width: 100%;
        background-color: #ffffff;
        padding: 0 25px;
        margin: 0 0 20px 0;
        display: inline-block;

    }

    .contact-section p {
        width: 60%;
        margin: 20px auto;
    }
    
    footer {
        padding: 0 30px 15px;
    }

    .footer-title {
        margin: 0 0 30px;
        font-weight: bold;
        float: left;
    }
    
    .footer-nav {
        margin: 0 0 30px 0;
        float: right;
        font-size: 1em;
    }

    .footer-nav li {
        float: left;
    }

    footer .home-link,
    .portfolio-link,
    .contact-link {
        display: block;
    }

    .back-to-top {
        display: none;
    }

}


/*********************** 
DESKTOP MEDIA BREAKPOINT 
***********************/

@media(min-width: 1024px){
    
    body {
        background-color: #fafafa;
        padding: 15px;
    }

    header {
        padding: 35px;
        display: inline-block;
    }

    header nav {
        float: right;
    }
    
    .name {
        margin: 0;
        font-weight: bold;
        float: left;
    }
    
    .intro-div p {
        font-size: 1.45em;
        padding-right: 20px;

    }

    .intro-div img {
        margin-bottom: 20px;
    }
    
    article {
        width: 33%;
    }

    .article-title {
        font-size: 1.25em;
    }
    
    article p {
        font-size: 1em;
        width: 90%;
    }
    
    article img {
        width: 95%;
    }
    
    .portfolio-section {
        width: 95%;
        padding-bottom: 30px;
    }
    
    .contact-section {
        padding: 1px 15px 40px 15px;
    }

    footer {
        padding: 0 20px;
    }
    
    .footer-title {
        padding: 10px 0px;
    }

    .footer-nav {
        margin: 0 0 10px 0;
    }

}